<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="jumbotron">
				  <div class="container">
				  	<div class="row welcome_path">
				  		<div class="col-lg-6 welcome_content">
						    <h1>Welcome to Paths</h1>
						    <p>Paths are a customized list of courses and workshops that provide a guided learning path for a particular subject. Each course or workshop in a path builds on the previous one, so that as you progress through a learning path you gain a solid understanding of the topic.</p>
						</div>
						<div class="col-lg-6 welcome_image hidden-md-down">
						<%= image_tag("welcome_header.png", class: "img-fluid") %>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
	<div class="container-fluid">
		<div class="row">
            <div class="col-md-4">
				  <div class="card">
				    <%= image_tag("Push.png", class: "card-img-top img-fluid") %>
				      <div class="card-img-overlay">
				        <div class="progress_card">
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<p class="card-text" style="float: right;">52 hrs.</p>
				        </div>
					  </div>
				    <div class="card-block">
				      <h4 class="card-title">Ableton</h4>
				      <p class="card-text">Learn the essetnails of this powerful DAW. Discover your creative partner for creation, production and performance with this comprehensive path.</p>
				    </div>
				    <div class="card-footer">
				      <a href="#" class="btn btn-card-resume">RESUME</a>
				      <span class="bottom_icons">
					      <i class="fa fa-info-circle fa-2x bottom_font_icon"></i>
					      <i class="fa fa-play-circle fa-2x bottom_font_icon"></i>
					  </span>
				    </div>
				 </div>
			 </div>
            <div class="col-md-4">
				  <div class="card">
				    <%= image_tag("production.png", class: "card-img-top img-fluid") %>
				      <div class="card-img-overlay">
				        <div class="progress_card">
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<p class="card-text" style="float: right;">112 hrs.</p>
				        </div>
					  </div>
				    <div class="card-block">
				      <h4 class="card-title">Production</h4>
				      <p class="card-text">Create the music you dream of with this comprehensive producer path. Learn the techniques that will set your music apart.</p>
				    </div>
				    <div class="card-footer">
				      <a href="#" class="btn btn-card-start">START</a>
				      <span class="bottom_icons">
					      <i class="fa fa-info-circle fa-2x bottom_font_icon"></i>
					      <i class="fa fa-play-circle fa-2x bottom_font_icon"></i>
					  </span>
				    </div>
				 </div>
			 </div>
            <div class="col-md-4">
				  <div class="card">
				    <%= image_tag("remix.png", class: "card-img-top img-fluid") %>
				      <div class="card-img-overlay">
				        <div class="progress_card">
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<p class="card-text" style="float: right;">64 hrs.</p>
				        </div>
					  </div>
				    <div class="card-block">
				      <h4 class="card-title">Remix</h4>
				      <p class="card-text">Learn the art and craft of remixing. Apply your production skills to recreating music based on stems and whole tracks, creating rich remixes with Live.</p>
				    </div>
				    <div class="card-footer">
				      <a href="#" class="btn btn-card-start">START</a>
				      <span class="bottom_icons">
					      <i class="fa fa-info-circle fa-2x bottom_font_icon"></i>
					      <i class="fa fa-play-circle fa-2x bottom_font_icon"></i>
					  </span>
				    </div>
				 </div>
			 </div>
		</div>
		<div class="row">
            <div class="col-md-4">
				  <div class="card">
				    <%= image_tag("live.png", class: "card-img-top img-fluid") %>
				      <div class="card-img-overlay">
				        <div class="progress_card">
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<p class="card-text" style="float: right;">78 hrs.</p>
				        </div>
					  </div>
				    <div class="card-block">
				      <h4 class="card-title">Live</h4>
				      <p class="card-text">Take your music to the stage. Learn to convert your work into performable sets. Integrate live instruments and vocals to bring music to life.</p>
				    </div>
				    <div class="card-footer">
				      <a href="#" class="btn btn-card-resume">RESUME</a>
				      <span class="bottom_icons">
					      <i class="fa fa-info-circle fa-2x bottom_font_icon"></i>
					      <i class="fa fa-play-circle fa-2x bottom_font_icon"></i>
					  </span>
				    </div>
				 </div>
			 </div>
            <div class="col-md-4">
				  <div class="card">
				    <%= image_tag("create.png", class: "card-img-top img-fluid") %>
				      <div class="card-img-overlay">
				        <div class="progress_card">
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<p class="card-text" style="float: right;">243 hrs.</p>
				        </div>
					  </div>
				    <div class="card-block">
				      <h4 class="card-title">Create</h4>
				      <p class="card-text">Creativity is the lifeblood of great music. Explore the techniques of the masters and learn the craft of musical creativity.</p>
				    </div>
				    <div class="card-footer">
				      <a href="#" class="btn btn-card-start">START</a>
				      <span class="bottom_icons">
					      <i class="fa fa-info-circle fa-2x bottom_font_icon"></i>
					      <i class="fa fa-play-circle fa-2x bottom_font_icon"></i>
					  </span>
				    </div>
				 </div>
			 </div>
            <div class="col-md-4">
				  <div class="card">
				    <%= image_tag("theory.png", class: "card-img-top img-fluid") %>
				      <div class="card-img-overlay">
				        <div class="progress_card">
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<p class="card-text" style="float: right;">168 hrs.</p>
				        </div>
					  </div>
				    <div class="card-block">
				      <h4 class="card-title">Theory and Arrangment</h4>
				      <p class="card-text">Know the why behind great music. Learn to create and compose music based on the structure and sequence of harmony and rhythm.</p>
				    </div>
				    <div class="card-footer">
				      <a href="#" class="btn btn-card-start">START</a>
				      <span class="bottom_icons">
					      <i class="fa fa-info-circle fa-2x bottom_font_icon"></i>
					      <i class="fa fa-play-circle fa-2x bottom_font_icon"></i>
					  </span>
				    </div>
				 </div>
			 </div>
		</div>
		<div class="row">
            <div class="col-md-4">
				  <div class="card">
				    <%= image_tag("synth.png", class: "card-img-top img-fluid") %>
				      <div class="card-img-overlay">
				        <div class="progress_card">
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<p class="card-text" style="float: right;">52 hrs.</p>
				        </div>
					  </div>
				    <div class="card-block">
				      <h4 class="card-title">Synthesis</h4>
				      <p class="card-text">Craft unique sounds with any sythesizer. Learn the hardware and sofware techniques, thory and practice of modern synthesis for production and performance.</p>
				    </div>
				    <div class="card-footer">
				      <a href="#" class="btn btn-card-resume">RESUME</a>
				      <span class="bottom_icons">
					      <i class="fa fa-info-circle fa-2x bottom_font_icon"></i>
					      <i class="fa fa-play-circle fa-2x bottom_font_icon"></i>
					  </span>
				    </div>
				 </div>
			 </div>
            <div class="col-md-4">
				  <div class="card">
				    <%= image_tag("sound.png", class: "card-img-top img-fluid") %>
				      <div class="card-img-overlay">
				        <div class="progress_card">
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<p class="card-text" style="float: right;">112 hrs.</p>
				        </div>
					  </div>
				    <div class="card-block">
				      <h4 class="card-title">Sound Design</h4>
				      <p class="card-text">Building a unique sound style requires a foundation of sound design knowledge. This path will take you from novice to provessional sound designer.</p>
				    </div>
				    <div class="card-footer">
				      <a href="#" class="btn btn-card-start">START</a>
				      <span class="bottom_icons">
					      <i class="fa fa-info-circle fa-2x bottom_font_icon"></i>
					      <i class="fa fa-play-circle fa-2x bottom_font_icon"></i>
					  </span>
				    </div>
				 </div>
			 </div>
            <div class="col-md-4">
				  <div class="card">
				    <%= image_tag("techno.png", class: "card-img-top img-fluid") %>
				      <div class="card-img-overlay">
				        <div class="progress_card">
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<i class="fa fa-circle-thin progress_card"></i>
				        	<p class="card-text" style="float: right;">64 hrs.</p>
				        </div>
					  </div>
				    <div class="card-block">
				      <h4 class="card-title">Techno</h4>
				      <p class="card-text">Explore this multifaceted genre. Be taken on a journey of production techniques, performance elements and cultural education behind this influential music.</p>
				    </div>
				    <div class="card-footer">
				      <a href="#" class="btn btn-card-start">START</a>
				      <span class="bottom_icons">
					      <i class="fa fa-info-circle fa-2x bottom_font_icon"></i>
					      <i class="fa fa-play-circle fa-2x bottom_font_icon"></i>
					  </span>
				    </div>
				 </div>
			 </div>
		</div>
           
        </div>

	</div>
</div>