<div class="card card-inverse course_cover_card">
<%= image_tag(@course.feature_image, class: "card-img img-fluid course_feature_image") %>
  <div class="card-img-overlay">
  <div class="row">
    <div class="col-md-6 text-center align-self-center hidden-md-down">
    <i class="fa fa-play-circle play_icon" style="font-size: 88px;"></i>
    </div>
    <div class="col-md-6 col-sm-12">

      <div class="card-block">
          <p class="card-subtitle" style="color: 999999; padding-bottom: 10px;">Course</p>
          <h4 class="card-title pull-left"><%= @course.title %></h4>
          <p class="pull-right">53 Hrs</p>
       </div>
      <div class="card-block">
          <div class="progress path_progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        </div>
        </div>
      </div>
      <div class="card-block">
          <p class="card-text"><%= @course.summary %></p>
          <%= link_to "START", course_chapter_path(@first_chapter), class: "card-link btn btn-card-start-black" %>
          <%= link_to "LEAVE PATH", courses_path, class: "card-link btn btn-outline-secondary" %>

      </div>
    </div>
  </div>
</div>
</div>
