
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="jumbotron">
				  <div class="container">
				  	<div class="row welcome_path">
				  		<div class="col-lg-6 welcome_content">
						    <h1>Welcome to the Library</h1>
						    <p>This is a complete catalog of all the content we offer. Browse by topic, type or difficulty.</p>
						</div>
						<div class="col-lg-6 library_image hidden-md-down">
						<%= image_tag("library.png", class: "img-fluid") %>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-12 search_bar ">
			<form class="form-inline justify-content-between">
				<input class="form-inline form-control mr-sm-2 search-focus" type="search" placeholder="Search" aria-label="search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h3>Recommended Learning</h3>
			<p>Here are some courses and videos you may find helpful.</p>
		</div>

		<%= render 'courses/recent_course' %>

	</div>

	<div class="row">
		<div class="col-lg-10 col-sm-10">
			<h3>Browse Courses</h3>
			<p>Browse courses across an array of topics and disciplines.</p>
		</div>
		<div class="col-lg-2 col-sm-2">

			<%= link_to  "View All - #{course_count}", courses_path, class: "btn btn-outline-primary pull-right" %>

		</div>

		<%= render 'courses/course' %>
		
	</div>

	<hr>

	<div class="row">
		<div class="col-lg-10 col-sm-10">
			<h3>Topics</h3>
			<p>Browse content by the topics that interest you most.</p>
		</div>
		<div class="col-lg-2 col-sm-2">
			<%= link_to "View All  -  #{topic_count}",topics_path, class: "btn btn-outline-primary" %>
		</div>
	</div>

	<div class="row">

		<%= render 'courses/topic' %>

	</div>

	<hr>

	<div class="row">
		<div class="col-lg-10 col-sm-10">
			<h3>Workshops</h3>
			<p>Technique focused presentations and talks.</p>
		</div>
		<div class="col-lg-2 col-sm-2">
			<%= link_to "VIEW ALL - 148", courses_path, class: "btn btn-outline-primary pull-right" %>
		</div>

	<%= render 'courses/workshops' %>
	</div>
