
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-12 search_bar">
			<ul class="list-inline vertical-center">
				<li class="list-inline-item pull-left align-middle"><i class="fa fa-search fa-2"></i></li>
				
				<li class="list-inline-item"></li>
				<li class="list-inline-item pull-right align-middle">Newest<i class="fa fa-angle-down"></i></li>
				<li class="list-inline-item pull-right align-middle">All Types<i class="fa fa-angle-down"></i></li>
				<li class="list-inline-item pull-right"><span class="align-middle">All Topics<i class="fa fa-angle-down"></i></span></li>
			</ul>
		</div>
	</div>
	<div class="row justify-content-center">
		<%= form_for :courses, method: :get do |f| %>
		<div class="search_bar input-group">
			<%= label_tag :keywords, nil, class: "sr-only" %>
			<%= text_field_tag :keywords, nil, placeholder: "Search", class: "form-control col-lg-12 search-bar" %>
			<span class="input-group-btn">
				<%= submit_tag "Search", class: "btn btn-primary btn-card-resume" %>
			</span>
			<% end %>
		</div>
	</div>
</div>



<%= form_tag(search_index_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>





















<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="jumbotron">
				  <div class="container">
				  	<div class="row welcome_path">
				  		<div class="col-lg-6 welcome_content">
						    <h1>Welcome to the Library</h1>
						    <p>This is a complete catalog of all the content we offer. Browse by topic, type or difficulty.</p>
						</div>
						<div class="col-lg-6 library_image hidden-md-down">
						<%= image_tag("library.png", class: "img-fluid") %>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-12 search_bar">
			<ul class="list-inline vertical-center">
				<li class="list-inline-item pull-left align-middle"><i class="fa fa-search fa-2"></i></li>
				
				<li class="list-inline-item"></li>
				<li class="list-inline-item pull-right align-middle">Newest<i class="fa fa-angle-down"></i></li>
				<li class="list-inline-item pull-right align-middle">All Types<i class="fa fa-angle-down"></i></li>
				<li class="list-inline-item pull-right"><span class="align-middle">All Topics<i class="fa fa-angle-down"></i></span></li>
			</ul>
		</div>
	</div>
	<div class="row justify-content-center">
		<%= form_for :courses, method: :get do |f| %>
		<div class="search_bar input-group">
			<%= label_tag :keywords, nil, class: "sr-only" %>
			<%= text_field_tag :keywords, nil, placeholder: "Search", class: "form-control col-lg-12 search-bar" %>
			<span class="input-group-btn">
				<%= submit_tag "Search", class: "btn btn-primary btn-card-resume" %>
			</span>
			<% end %>
		</div>
	</div>


<section class="search-results">
	<h1>Results</h1>
		<div class="row">
			<%= render "course" %>
		</div>

</section>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h3>Recommended Learning</h3>
			<p>Here are some courses and videos you may find helpful.</p>
		</div>

		<%= render 'courses/recent_course' %>

	</div>

	<div class="row">
		<div class="col-lg-10 col-sm-10">
			<h3>Browse Courses</h3>
			<p>Browse courses across an array of topics and disciplines.</p>
		</div>
		<div class="col-lg-2 col-sm-2">
		<br>
			<button type="button" class="btn btn-outline-primary pull-right">View All  -   <span class="badge badge-default badge-pill">58</span></button>
		</div>

		<%= render 'courses/course' %>
	</div>

	<hr>

	<div class="row">
		<div class="col-lg-12">
			<h3>Topics</h3>
			<p>Browse content by the topics that interest you most.</p>
		</div>
	</div>

	<div class="row">

	<%= render 'courses/topic' %>
	
	
	</div>

	<hr>

	<div class="row">
		<div class="col-lg-12">
			<h3>Workshops</h3>
			<p>Technique focused presentations and talks.<button type="button" class="btn btn-outline-primary pull-right">View All <span class="badge badge-default badge-pill">148</span></button></p>
		</div>

	<%= render 'courses/course' %>
	</div>


