<h1>Search</h1>

<section class="search-form">
	<%= simple_form_for @courses, method: :get do |f| %>

	<div class="input-group input-group-lg">
		<%= label_tag :keywords, nil, class: "sr-only" %>
		<%= text_field_tag :keywords, nil, placeholder: "First Name, Last Name, or Email address", class: "form-control input-lg" %>
		<span class="input-group-btn">
			<%= submit_tag "Find course", class: "btn btn-primary btn-lg" %>
		</span>
	</div>

<% end %>

</section>


<section class="search-results">
	<h1>Results</h1>

	<table class="table table-striped">
		<thead> 
			<tr>
			<th>Title</th>
			<th>Description</th>
		</tr>
		</thead>	
		<tbody>
			<% @course.each do |course| %>
			<tr>
				<td><%= course.title %></td>
				<td><%= course.description %></td>
			</tr>
	</table>
</section>


<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-12 search_bar">
			<ul class="list-inline vertical-center">
				<li class="list-inline-item pull-left align-middle"><i class="fa fa-search fa-2"></i></li>
				
				<li class="list-inline-item"></li>
				<li class="list-inline-item pull-right align-middle">Newest<i class="fa fa-angle-down"></i></li>
				<li class="list-inline-item pull-right align-middle">All Types<i class="fa fa-angle-down"></i></li>
				<li class="list-inline-item pull-right"><span class="align-middle">All Topics<i class="fa fa-angle-down"></i></span></li>
			</ul>
		</div>
	</div>
	<div class="row justify-content-center">
		<%= form_for :courses, method: :get do |f| %>
		<div class="search_bar input-group">
			<%= label_tag :keywords, nil, class: "sr-only" %>
			<%= text_field_tag :keywords, nil, placeholder: "Search", class: "form-control col-lg-12 search-bar" %>
			<span class="input-group-btn">
				<%= submit_tag "Search", class: "btn btn-primary btn-card-resume" %>
			</span>
			<% end %>
		</div>
	</div>
</div>



<%= form_tag(search_index_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>



	<div class="row justify-content-center">
		<%= form_for :courses, method: :get do |f| %>
		<div class="search_bar input-group">
			<%= label_tag :keywords, nil, class: "sr-only" %>
			<%= text_field_tag :keywords, nil, placeholder: "Search", class: "form-control col-lg-12 search-bar" %>
			<span class="input-group-btn">
				<%= submit_tag "Search", class: "btn btn-primary btn-card-resume" %>
			</span>
			<% end %>
		</div>
	</div>


<section class="search-results">
	<h1>Results</h1>
		<div class="row">
			<%= render "course" %>
		</div>

</section>

















