<div class="container-fluid">
	<div class="row">

	<div class="col-lg-12 align-self-center">
			<%= render 'courses/course_header' %>
	</div>

	</div>

	<div class="row">
	<div class="col-md-12">
		<div class="tag_cloud" role="group" aria-label="Course tags">
			<button type="button" class="btn btn-outline-secondary btn-tag pull-left">Ableton</button>
			<button type="button" class="btn btn-outline-secondary btn-tag pull-left">Beginner</button>
			<button type="button" class="btn btn-outline-secondary btn-tag pull-right">Bookmark</button>
		</div>
	</div>
</div>

	<br>

<div class="container-fluid">
	<hr>
		<div class="row">

			<div class="col-md-8">

				<h3 class="course_card_header">About This Course</h3>

				<p class="course_card_description"><%= @course.description %> </p>

				<div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" src="<%= @course.support_video %>" allowfullscreen></iframe>
				</div>

			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-md-8">
					<h3 class="course_card_header">Teacher</h3>

					<p class="course_card_description"><strong>Tom Spencer</strong> Tom is an Ableton Certified Trainer and performs under the moniker Spencer Thomas. A DJ, producer and teach Tom has been using and producing with Ableton for 12 years. </p>
					</div>
					<div class="col-md-4 col-sm-3 align-self-center">
					<%= image_tag("teacher_thumb.png", class: "img-fluid rounded-circle") %>
					</div>
				</div>

			<h3 class="course_card_header">Download Content</h3>

			<p class="course_card_description"> Each course comes with comprehensive Ableton Live sets, sample audio files and teaching notes. You must be on a Pro subscription to download these resources.</p>

			<button type="button" class="btn btn-card-start-black pull-left">DOWNLOAD</button>

			</div>

		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<h3 class="course_card_header">What You Will Learn</h3>
				<ul class="fa-ul list-group">
				<% @chapters.each do |chapters| %>
					<li class="list-group-item"><%= chapters.title %></li>
				<% end %>
				</ul>
		</div>

		</div>
	</div>

</div>
