<div class="container">
	<div class="row">

		<div class="col-lg-12">
			<p><%= @course.title %> </p>
			<p><%= @course.title %> </p>
			<p><%= @course.summary %> </p>
			<p><%= @course.description %> </p>
			<p><%= @course.summary_video %> </p>
			<p><%= @course.thumbnail %> </p>
			<p><%= @course.feature_image %> </p>
			<p><%= @course.support_video %> </p>
		</div>

	</div>
</div>